body {
    background-color: powderblue;
  }

/* Did some google serach for this */
.upper-section {
    position: sticky;  
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
footer {
    text-align: center;
    background-color: white;
    color: black;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
  }